{% extends 'base.html' %}
{% block title %}Add post{% endblock %}


{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

    <h1>Add new blog post</h1>
    <br/>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>
            {{ form.slug.label(class="form-label") }}
            {{ form.slug(class="form-control") }}
            <br/>
            {{ form.summary.label(class="form-label") }}
            {{ form.summary(class="form-control") }}
            <br/>
            {{ form.banner_pic.label(class="form-label") }}
            {{ form.banner_pic(class="form-control") }}
            <br/>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows=5) }}
            <br/>
            <div class="form-check">
                {{ form.is_draft(class="form-check-input") }}
                {{ form.is_draft.label(class="form-check-label") }}
            </div>
            <br/>
            {{ form.submit(class="btn btn-primary") }}
        </form>

        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>
{% endblock %}
