{% extends 'base.html' %}

{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

    {% if name %}
        <h1>Hello {{ name }}!</h1>
        <br/>
    {% else %}
        <h1>User List</h1>
        <br/>
        <h2>Add new user</h2>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <form method="POST">
                {{ form.hidden_tag() }}

                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}

                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}

                {{ form.favorite_color.label(class="form-label") }}
                {{ form.favorite_color(class="form-control") }}

                {{ form.password_hash.label(class="form-label") }}
                {{ form.password_hash(class="form-control") }}

                {{ form.password_hash2.label(class="form-label") }}
                {{ form.password_hash2(class="form-control") }}
            <br/>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    {% endif %}

        <h2>Existing users</h2>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fav color</th>
                    <th scope="col">Added</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
        {% for our_user in our_users %}
            <tr>
                <td>{{ our_user.id }}.</td>
                <td>
                    @{{ our_user.username }}<br/>
                </td>
                <td>
                    {{ our_user.name }}<br/>
                </td>
                <td>{{ our_user.email }}</td>
                <td>
                    <span class="badge rounded-pill text-bg-secondary">{{ our_user.favorite_color }}</span>
                </td>
                <td>
                    {{ our_user.date_added.strftime('%d.%m.%Y %H:%M') }}
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('update_user', user_id=our_user.id) }}"
                       role="button">Edit</a>
                    <a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete_user', user_id=our_user.id) }}"
                       role="button">Delete</a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}
