{% extends 'base.html' %}

{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

        <h2>Dashboard</h2>
        <br/>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card">
                <div class="card-header">
                    User id#{{ current_user.id }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ current_user.name }}</h5>
                    <p class="card-text">
                        @{{ current_user.username }}<br/>
                        {{ current_user.email }}<br/>
                        {{ current_user.favorite_color }}<br/>
                        {{ current_user.date_added }}
                    </p>
                    <a class="btn btn-outline-danger btn-sm" href="{{ url_for('logout') }}" role="button">
                        Log out
                    </a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('update', user_id=current_user.id) }}"
                       role="button">
                        Edit profile
                    </a>
                    <a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete', user_id=current_user.id) }}"
                       role="button">
                        Delete
                    </a>
                 </div>
            </div>
        </div>
{% endblock %}
