{% extends 'base.html' %}
{% from 'macros.html' import display_post_tags, display_author_and_views %}
{% block title %}Dashboard{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

<!--
Skipped: move update profile stuff here too.
Video #25: https://www.youtube.com/watch?v=o6YjyOt2Zhc
-->

{% block content %}
    <div class="row g-5">
        <div class="col-md-3">
            <div class="position-sticky" style="top: 5rem;">
                <!-- Left block - dashboard menu -->
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">&#x1F4CA; Dashboard</h4>
                    <ul class="list-unstyled">
                        <li>&#128100; <a href="{{ url_for('dashboard_user') }}">User Profile</a></li>
                        <li>&#x1F4C4; <a href="{{ url_for('dashboard_posts') }}">Posts</a></li>
                        <li>&#128466; <a href="{{ url_for('dashboard_drafts') }}">Drafts</a></li>
                    </ul>
                    {% if current_user.is_admin %}
                    <br/>
                    <h4 class="fst-italic">&#x1F6E0; Admin</h4>
                    <ul class="list-unstyled">
                        <li>&#x1F4C4; All Posts</li>
                        <li>&#128101; <a href="{{ url_for('dashboard_users') }}">Users</a></li>
                        <li>&#x1F3F7; Tags</li>
                        <li>&#128450; <a href="{{ url_for('dashboard_uploads') }}">Uploaded Files</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            {%  for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{  message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%  endfor %}

            {% block dashboard %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
