{% macro display_post_tags(post) %}
    {% if post.tags %}
        <div class="tags small">
        &#x1F3F7;
        {% for tag in post.tags %}
            <a title="{{ tag.name }}" href="{{ url_for('view_tag_posts', tag_name=tag.name) }}"
               class="color2">{{ tag.name }}</a>
        {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro display_tags(tags) %}
    <div class="tags">
    {% for tag in tags %}
        <a title="{{ tag.name }}" href="{{ url_for('view_tag_posts', tag_name=tag.name) }}"
           class="color5">{{ tag.name }}</a>
    {% endfor %}
    </div>
{% endmacro %}

{% macro display_author_and_views(post) %}
<i class="text-muted">
    &#x1F4CC; by {{ post.author.name }} on {{ post.date_posted.strftime('%d %b %Y, %H:%M') }}
    &#x1F440; {{ post.views_count }} views
</i>
{% endmacro %}

{% macro display_found_posts(posts) %}
     <div class="card" style="width: 100%;">
        <ul class="list-group list-group-flush">
        {% for post in posts %}
            <div class="card mb-3" style="">
                <div class="row g-0">
                    <div class="col-md-4" id="post-card-tall">
                        {% if post.banner_pic %}
                        <img src="{{ url_for('static', filename='uploads/' + post.banner_pic) }}"
                             class="img-fluid rounded-start" alt="{{ post.title }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='uploads/blog-post-placeholder.webp') }}"
                             class="img-fluid rounded-start" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                &#x1F4C4;
                                <a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a>
                            </h5>
                            <p class="card-text">{{ post.summary }}</p>
                            <p class="card-text">
                                {{ display_author_and_views(post) }}
                                <br/>
                                {{ display_post_tags(post) }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </ul>
     </div>
{% endmacro %}