        <nav class="navbar navbar-expand-lg sticky-top bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Flask Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if current_user.profile_pic %}
                            <img src="{{ url_for('static', filename='uploads/'+current_user.profile_pic) }}"
                                 width="28" height="28" class="rounded-circle">
                            {% endif %} @{{ current_user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('add_post') }}">&#x1F4DD; Add post</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">&#x1F4CA; Dashboard</a></li>
                            {% if current_user.is_admin %}
                                <li><a class="dropdown-item" href="{{ url_for('admin') }}">&#x1F6E0; Admin panel</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">&#x1F44B; Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_user') }}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
              {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('view_all_posts') }}">Posts</a>
                </li>
              </ul>
              <form class="d-flex" role="search" method="POST" action="{{ url_for('search') }}">
                  {{ form.hidden_tag() }}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="search_query">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>