{% extends 'base.html' %}

{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h3>{{ post.title }}</h3>
        <i>by {{ post.author }} on {{ post.date_posted }}</i><br/><br/>
        <p>
            {{ post.content }}
        </p>
        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('view_all_posts') }}"
                   role="button">
            Back to all posts page
        </a>
        {% if current_user.is_authenticated %}
             <a class="btn btn-outline-primary btn-sm" href="{{ url_for('edit_post', post_id=post.id) }}"
                       role="button">
                 Edit post
            </a>
             <a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete_post', post_id=post.id) }}"
                       role="button">
                 Delete post
            </a>
        {% endif %}
    </div>
{% endblock %}