{% extends 'base.html' %}
{% block title %}Search - {{ search_query }}{% endblock %}

{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

    <h3>You searched for: <em>{{ search_query }}</em></h3>
    <br/>
    {% if search_results %}
        <b>Search results:</b> <br/>
        {% for post in search_results %}
            <a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a> by {{ post.author.name }}<br/>
        {% endfor %}
    {% else %}
        Sorry, found nothing.
    {% endif %}
{% endblock %}