{% extends 'base.html' %}
{% block title %}Search - {{ search_query }}{% endblock %}
{% block style %}
    <style>
    #post-banner img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    </style>
{% endblock %}

{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

    <h3>You searched for: <em>{{ search_query }}</em></h3>
    <br/>
    {% if search_results %}
        <b>Search results:</b>
        <br/>
        <br/>
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
            {% for post in search_results %}
                <div class="card mb-3" style="">
                    <div class="row g-0">
                        <div class="col-md-4" id="post-banner">
                            {% if post.banner_pic %}
                            <img src="{{ url_for('static', filename='uploads/' + post.banner_pic) }}"
                                 class="img-fluid rounded-start" alt="{{ post.title }}">
                            {% else %}
                            <img src="{{ url_for('static', filename='uploads/blog-post-placeholder.webp') }}"
                                 class="img-fluid rounded-start" alt="{{ post.title }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    &#x1F4C4;
                                    <a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a>
                                </h5>
                                <p class="card-text">{{ post.summary }}</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        &#x1F4CC; by {{ post.author.name }} on {{ post.date_posted.strftime('%d %b %Y, %H:%M') }}
                                        &#x1F440; {{ post.views_count }} views
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        Sorry, found nothing.
    {% endif %}
{% endblock %}