{% extends 'base.html' %}

{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

    {% if user_to_update.id == current_user.id %}
        <h1>Update user record</h1>
        <br/>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <form action="/update/{{ user_to_update.id }}" method="POST">
                {{ form.hidden_tag() }}
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=user_to_update.name) }}
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=user_to_update.email) }}
                {{ form.favorite_color.label(class="form-label") }}
                {{ form.favorite_color(class="form-control", value=user_to_update.favorite_color) }}
            <br/>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Error - you can't edit someone else's profile!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
