{% extends 'base.html' %}
{% block title %}Edit user profile - {{ user_to_update.username }}{% endblock %}

{% block content %}
    {%  for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{  message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endfor %}

    {% if user_to_update.id == current_user.id or current_user.is_admin %}
        <h3>Edit your profile</h3>
        <br/>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class="container">
            <div class="row">
                <div class="col-8">
                    <form action="/update/{{ user_to_update.id }}" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control", value=user_to_update.name) }}
                        <br/>
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", value=user_to_update.email) }}
                        <br/>
                        {{ form.favorite_color.label(class="form-label") }}
                        {{ form.favorite_color(class="form-control", value=user_to_update.favorite_color) }}
                        <br/>
                        {{ form.profile_pic.label(class="form-label") }}
                        {{ form.profile_pic(class="form-control", value=user_to_update.profile_pic) }}
                        <br/>
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
                <div class="col-4">
                {% if current_user.profile_pic %}
                    <img src="{{ url_for('static', filename='uploads/'+current_user.profile_pic) }}"
                        height="200" width="200" align="right">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default-profile-pic.png') }}"
                        height="200" width="200" align="right">
                {% endif %}
               </div>
            </div>
        </div>
        </div>
    {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Error - you can't edit someone else's profile!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
